/**
 * primary design color 
 */
input[type="submit"],
input[type="submit"]:hover,
input[type="button"],
input[type="button"]:hover,
.main-menu-container,
.main-navigation a:hover,
.more-link,
.single-post-footer,
.bypostauthor .comment-author {
	background: #F56C75;
}
.alert-bar .alert-message .fa:first-child,
.entry-meta {
	color: #F56C75;
}


		/**
		 * primary design color - sidekick 
		 */
		.main-navigation ul li:hover > ul,
		.main-navigation .menu > li > a:hover {
			background: #E2616A;
		}
		
		@media screen and (max-width: 768px) {
			.main-navigation .menu a:hover {
				background: #E2616A;
			}
		}
		
		input[type="submit"],
		input[type="button"],
		.more-link {
			box-shadow: 0 3px #E2616A;
		}
		.main-menu-container,
		.single-post-footer,
		.bypostauthor .comment-author {
			box-shadow: 0 5px #E2616A;
		}
		

/**
 * secondary color - accent 
 */
a,
.header-menu a:hover,
.entry-header a:hover,
.comment-reply-link:hover,
.widget:hover .widget-title:before,
.product-title:hover,
.view-details:hover {
	color: #47DBBB;
}
.header-area {
	border-top: 3px solid #47DBBB;
}